html {
  scroll-behavior: smooth;
  @apply bg-gradient-to-t from-zinc-950 to-100% to-zinc-800;
}


::-webkit-scrollbar {
  width: 0.5rem;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #0b0b0d;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
  border-radius: 0.25rem;
}
